{% extends "base_generic.html" %}

{% block content %}
    {% if validlink %}
        <p>Введите и подтвердите ваш новый пароль.</p>
        <form action="" method="post">
        {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">Новый пароль:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">Подтвердите пароль:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="Change my password" /></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>Попытка изменить пароль провалилась.</h1>
        <p>Ссылка на смену пароля не работает. Возможно, это из-за того, что она была уже использована. Запросите новую попытку смены пароля.</p>
    {% endif %}
{% endblock %}